.text-contacto{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.container-contacto{
    background-image: url(../img/bg.png);
    background-size: cover;
    margin: 20px;
    padding: 40px;
    border-radius: 30px;
}
.redes{
    padding: 5px;
    width: 80px;
    height: 80px;
}