.container-favoritos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;   
}
.text-favoritos{
    text-align: center;
    margin: 20px;
    padding: 20px;
}