footer{
    background-color: $color-tres;
    height: 50px;
    p{
        font-family: $logo-font;
        color: $color-cinco;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;

    }
}

