$redes: (
    twitter: #55aCee ,
    facebook: #3a5795,
    instagram: #C25E30,
);
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

@mixin sizes ($height, $width){
    height: $height;
    width: $width;
}

.mixin{
    @include sizes (50px, 1300px);
    background-color:rgb(195, 241, 226);
}

.extend{
    border: 2px solid black;
    background-color: #9CD1CE;
}

.extend_aprende{
    @extend .extend;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 5px;
}
.extend_nuevas{
    @extend .extend;
    font-size: 30px;
    color: rgb(221, 231, 221);
    border: 3px dashed rgb(147, 203, 207);
}
.extend_recetas{
    @extend .extend;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 5px;
}