.buscador-recetas{
    background-image: url(../img/fondonosotros.jpg);
    margin:15px;
    padding: 30px;
    border-radius: 5px;
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: medium;
    }
}

.intro-recetas{
    font-size: 2rem;
    font-weight: bold;
    margin: 25px;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 10px auto;
    .card {
        border: 3px solid rgb(194, 183, 183);
        background-color: $white;
        text-align: center;
        width: 330px;
        border-radius: 5px;
    }
}
