$font: 'Nunito';
$logo-font: 'Edu VIC WA NT Beginner';

$color-uno: #31e9b8;
$color-dos:#F8FFE5;
$color-tres: #FFC43D;
$color-cuatro: #EF476F;
$color-cinco: #506B1C;
$black: #040404;
$white: #f4f4f4;

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1025px,
);