$font: 'Nunito Sans', sans-serif;

$color-uno: #DEE2FF;
$color-dos: #FEEAFA;
$color-tres: #CBC0D3;
$gray-color: #BFC4CA;
$black: #040404;
$white: #f4f4f4;

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1025px,
);