$font: 'Nunito Sans', sans-serif;

$color-uno: #31e9b8;
$color-dos:#F8FFE5;
$color-tres: #FFC43D;
$color-cuatro: #EF476F;
$black: #040404;
$white: #f4f4f4;

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1025px,
);