@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62%;
}

header {
  background-color: #FFC43D;
  margin: 0px;
  padding: 20px;
}
header .nav-link {
  font-family: "Nunito";
  color: #506B1C;
  font-size: small;
  font-weight: 400;
}

.navbar-brand.abs {
  display: flex;
  position: absolute;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  align-items: center;
}

.navbar-title {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 32px;
  color: #506B1C;
}

.img-nav-icon {
  width: 32px;
}

.img-logo {
  width: 100px;
  height: auto;
}

.container-fondoimg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondonosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.titulo-home {
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  line-height: 100px;
}

.texto-home {
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  line-height: 30px;
}

.intro-home {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

img {
  width: 100%;
}

.container-img {
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #FFC43D;
  height: 50px;
}
footer p {
  font-family: "Edu VIC WA NT Beginner";
  color: #506B1C;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.buscador-recetas {
  background-image: url(../img/fondonosotros.jpg);
  margin: 15px;
  padding: 30px;
  border-radius: 5px;
}
.buscador-recetas h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: medium;
}

.intro-recetas {
  font-size: 2rem;
  font-weight: bold;
  margin: 25px;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 10px auto;
}
.cards .card {
  border: 3px solid rgb(194, 183, 183);
  background-color: #f4f4f4;
  text-align: center;
  width: 330px;
  border-radius: 5px;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::-moz-placeholder {
  color: transparent;
}

:-ms-input-placeholder {
  color: transparent;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #FFC43D;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #FFC43D;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #FFC43D;
}

.input:focus {
  border: 2px solid #FFC43D;
}

.input:not(:-moz-placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:not(:-ms-input-placeholder) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.bg-imagen {
  background-image: url(../img/bg.png);
  background-size: cover;
}

.container-favoritos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 20px;
}

.text-favoritos {
  text-align: center;
  margin: 20px;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */